body {
    background-color: #010101;
    font-family: 'Montserrat Alternates', sans-serif;
    background-image: url('https://ak6.picdn.net/shutterstock/videos/1022088616/thumb/1.jpg');
    border-image-repeat: stretch;
    color: whitesmoke;
}

h5 {
    font-weight: bold;
}

.center {
    text-align: center;
}

.image {
    width: 40vw;
    height: 38vw;
}

/* Navigation Bar */

.custom-brand {
    font-size: xx-large;
    font-family: fantasy, sans-serif;
}

.nav-link {
    font-size: large;
}

/* Title */

.title {
    line-height: 2;
    padding-top: 2vw;
    text-align: center;
}

.title > em {
    font-size: medium;
    margin-top: 6rem;
}

/* Main Body */

#output {
    margin-bottom: 2em;
}

.text-center {
    margin: 15vw auto;
}

.container-fluid {
    padding: 0;
}

.welcome {
    text-align: center;
    color: white;
}

.card {
    cursor: pointer;
    background-color: transparent;
    border: 1px solid olivedrab;
}

.card:hover {
    border: solid 1px white;
}

.card-header {
    background-color: olivedrab;
}

.card-body {
    font-size: large;
    font-weight: 500;
    color: whitesmoke;
    line-height: 2;
}

.row {
    margin: 0;
}

.colour {
    margin-top: 2%;
}

.list {
    margin: 0;
    padding-inline-start: 0;
    display: inline-block;
}

.list-side {
    padding-inline-end: 10%;
}

/* Next & Previous bar */

.disabled {
    pointer-events: none;
    cursor: auto;
}

.page-link {
    border: 1px solid olivedrab;
}

.pagination>li>a {
    background-color: transparent;
}

.pagination>li>a:active, .pagination>li>a:visited {
    color: white;
}

.pagination>li>a:hover {
    background-color: lightgrey;
    color: black;
}

/* Modal */

.modal-open {
    padding-right: 0 ! important;
}

.modal-header {
    background-color: olivedrab;
    font-weight: 800;
}

.modal-body {
    font-size: large;
    font-weight: 500;
    color: black;
    line-height: 2;
}